* {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

html {
  background-color: #EEE;
}

body {
  background-color: #FFF;
  box-shadow: 0 0.3em 0.7em -0.3em;
  margin: 0;
  max-width: 812px;
  opacity: 0;
  transition: opacity .2s .1s ease-in-out;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

body.loaded {
  opacity: 1;
}

.page-intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  color: #EEE;
  overflow: hidden;
  position: relative;
  text-align: center;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.hero__pic {
  background-size: cover;
  border-radius: 50%;
  height: 7em;
  margin-bottom: 1em;
  width: 7em;
}

.hero__pic--div {
  flex: 0 0 7em;
}

.hero__pic--img {
  display: none;
}

.hero__name {
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
}

.hero__role {
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, h3, h4, h5 {
  font-weight: 900;
}

h2, h6 {
  font-weight: 200;
}

h5 {
  font-size: 11px;
}

a {
  background: #DDD;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
  color: black;
  display: block;
  font-weight: 700;
  line-height: 32px;
  left: 0px;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  top: 0px;
  white-space: nowrap;
}

a:hover,
a:focus {
  background: #C8C8C8;
}

a:active {
  background: #CCC;
}

b,
strong {
  font-weight: bold;
}

.site-loveholidays:hover {
  background: #11aaf6;
  color: white;
}

.site-volkswagen:hover {
  background: #00a8ec;
  color: white;
}

.site-cartedor:hover {
  background: white;
  color: #c38027;
}

.site-lipton:hover {
  background: #ffe600;
  color: #e50000;
}

.site-massimodutti:hover {
  background: white;
  color: black;
}

.site-oysho:hover {
  background: white;
  color: black;
}

.site-pullandbear:hover {
  background: black;
  color: white;
}

.site-zarahome:hover {
  background: #ccc;
  color: #888b8d;
}

.site-stradivarius:hover {
  background: white;
  color: black;
}

.site-bershka:hover {
  background: black;
  color: white;
}

.site-uterque:hover {
  background: white;
  color: black;
}

p br {
  content: '';
  display: block;
  margin: .3em 0 0;
}

.skill-set {
  margin: 0;
}

.skill-set__item {
  list-style: none;
}

.contact-set {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.phone-set,
.email-set,
.site-set {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-align: center;
}

.phone-set .phone,
.email-set .email,
.site-set .url {
  flex: 1 1;
}

.job-experience {
  margin-bottom: 30px;
  position: relative;
}

.job-experience__article {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 15px);
}

.job-experience__header {
  flex: 1 0;
}

.job-experience__main-section {
  flex: 1 1;
  overflow: auto;
}

.job-experience__main-section > h5,
.job-experience__main-section > ul {
  display: inline-block;
}

.job-experience__meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.job-experience__business {
  text-transform: uppercase;
}

.job-experience__date {
  border-bottom: 0.5px solid black;
  flex: 1 0 90%;
  font-style: italic;
  padding: 0 .5em 0 0;
  position: relative;
  text-align: right;
  margin: 0 0 .7em .4em;
  top: -5px;
}

.job-experience__tool {
  display: inline-block;
  font-size: 0.9em;
  white-space: nowrap;
  border: 1px solid;
  padding: 0 3px;
}

.job-experience__tool-set {
  padding: 0;
}

.job-experience__tool-name,
.job-experience__tool-version {
  font-weight: 200;
  text-transform: uppercase;
}

.job-experience__tool-version {
  margin: 0 0 0 5px;
}

.job-experience__portfolio {
  padding: 0;
  overflow: auto;
  text-align: center;
}

.job-experience__portfolio a {
  max-width: 350px;
  margin: 0 auto;
  text-transform: capitalize;
}

.job-experience__tool-set,
.job-experience__portfolio {
  margin: 0 0 15px;
}

.column {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.column--four {
  grid-template-columns: repeat(2, 1fr);
}

.column--three {
  grid-template-columns: repeat(3, 1fr);
}

.column--two {
  grid-template-columns: repeat(2, 1fr);
}

.column--single {
  grid-template-columns: repeat(1, 1fr);
}

.job-experience__portfolio span {
  display: block;
}

.education-experience {
  margin: 10px 0 0;
}

.education-experience__title-set {
  color: steelblue;
  padding: 0;
  text-transform: uppercase;
  display: inline-block;
}

.education-experience__title {
  display: block;
  font-weight: 200;
  margin-top: 0;
}

.hero__name,
.hero__role,
h1, h2, h3, h4, h5, h6,
.job-experience__tool-name,
.job-experience__tool-version,
.education-experience__title {
  font-family: 'Nanum Gothic', sans-serif;
}

.phone-set,
.email-set,
.site-set,
.skill-set,
.experience-set,
.job-experience__tool-set,
.job-experience__portfolio,
.education-set,
.education-experience__title-set {
  list-style-type: none;
}

.summary,
.skill-set,
.experience-set,
.education-set {
  margin: 0;
  padding: 30px calc(2vw + 15px) 0;
}

.summary__title,
.experience-set__title,
.education-set__title {
  color: white;
  margin: 30px 0 0;
  padding: 10px;
  position: relative;
}

.page-intro,
.summary__title,
.experience-set__title,
.education-set__title {
  -webkit-scroll-snap-coordinate: 0% 0%;
  scroll-snap-coordinate: 0% 0%;
  scroll-snap-align: start;
}

.job-experience {
  -webkit-scroll-snap-coordinate: 0% 0%;
  scroll-snap-coordinate: 0% 0%;
  scroll-snap-align: start;
}

.summary__title {
  margin: 0;
}

.education-set {
  padding-bottom: 30px;
}

/* THEME */
.hero {
  background-color: steelblue;
}

h3, h4, h5, h6,
.job-experience__tool,
a:hover,
a:focus {
  color: steelblue;
}

.summary__title,
.experience-set__title,
.education-set__title {
  background: steelblue;
}

@media (min-height:641px) {
  body {
    -webkit-scroll-snap-type: proximity;
    scroll-snap-type: y proximity;
  }
}

@media (min-width:813px) {
  body {
    margin: 1em auto;
  }

  .page-intro {
    height: initial;
  }

  .hero {
    height: 50vh;
  }

  .job-experience__date {
    flex: 1 0 auto;
  }

  .summary,
  .job-experience__summary {
    text-align: left;
  }

  .column--four {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media print {
  body {
    margin: 0;
    box-shadow: none;
    max-width: initial;
  }

  a {
    line-height: 32px;
  }

  .page-intro {
    display: block;
    height: initial;
  }

  .hero {
    padding: 3em 1em 1em;
    position: relative;
    text-align: right;
  }

  .hero__pic {
    border-radius: 70% 60% 80% 50%;
    top: 0;
    left: 0;
    height: 93%;
    margin: 0;
    position: absolute;
    width: auto;
  }

  .hero__pic--div {
    display: none;
  }

  .hero__pic--img {
    display: inline-block;
  }

  .contact-set {
    flex-direction: row;
  }

  .contact-set .site-set {
    display: none;
  }

  .job-experience {
    page-break-inside: avoid;
  }

  .job-experience__date {
    flex: 1 0 auto;
  }

  .job-experience__tool-set {
    font-size: 0.8em;
  }

  .summary,
  .job-experience__summary {
    text-align: left;
  }

  .education-experience {
    margin: 3px 0 0;
  }

  .job-experience__portfolio a {
    font-size: 0.8em;
    line-height: 1;
    box-shadow: none;
  }

  .skill-set__item,
  .education-experience__title {
    display: inline-block;
  }

  .summary,
  .skill-set,
  .experience-set,
  .education-set {
    padding: 15px calc(2vw) 0;
  }

  /* PRINT THEME */
  .hero {
    background-color: rgba(54, 57, 72, 0.6) !important;
  }

  h1, h2, h3, h4, h5, h6,
  .job-experience__tool,
  a:hover,
  a:focus {
    color: rgba(54, 57, 72, 1) !important;
  }

  .summary__title,
  .experience-set__title,
  .education-set__title {
    background: rgba(54, 57, 72, 0.3) !important;
  }

  #revision-id {
    display: none;
  }
}
