* {
  font-family: Assistant, sans-serif;
  font-weight: 400;
}

html {
  background-color: #EEE;
}

body {
  background-color: #FFF;
  margin: 0;
  max-width: 812px;
  box-shadow: 0 0.3em 0.7em -0.3em;
}

.page-intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  color: #EEE;
  overflow: hidden;
  position: relative;
  text-align: center;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__pic {
  border-radius: 50%;
  height: 7em;
  margin-bottom: 1em;
  width: 7em;
}

.header__name {
  margin: 0;
  font-family: Muli, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.header__role {
  margin: 0;
  font-family: Muli, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Muli, sans-serif;
  text-transform: uppercase;
}

h1, h3, h5 {
  font-weight: 900;
}

h2, h4, h6 {
  font-weight: 200;
}

h3, h4 {
  margin-top: 1em;
}

a {
  background: #DDD;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
  color: black;
  display: block;
  font-weight: 700;
  line-height: 50px;
  left: 0px;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  top: 0px;
  white-space: nowrap;
}

a:hover,
a:focus {
  background: #C8C8C8;
}

a:active {
  background: #CCC;
}

p br {
  content: '';
  display: block;
  margin: .3em 0 0;
}

.summary,
.job-experience__summary {
  text-align: justify;
}

.skill-set {
  margin: 0;
}

.skill-set__item {
  list-style: none;
}

.contact-set {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.contact-set__row {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex: 1 1;
}

.contact-set__row span {
  flex: 1 1;
}

.job-experience {
  position: relative;
}

.job-experience__meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.job-experience__date {
  border-bottom: 0.5px solid black;
  flex: 1 0 90%;
  font-style: italic;
  padding: 0 .5em 0 0;
  position: relative;
  text-align: right;
  margin: 0 0 .7em .4em;
  top: -5px;
}

.job-experience__tool {
  display: inline-block;
  font-size: 0.9em;
  white-space: nowrap;
}

.job-experience__tool-name,
.job-experience__tool-version {
  font-family: Muli, sans-serif;
  font-weight: 200;
}

.job-experience__tool-version {
  margin: 0 0 0 5px;
}

.job-experience__portfolio {
  text-align: center;
  overflow: auto;
}

.job-experience__tool-set,
.job-experience__portfolio {
  margin: 0 0 .7em;
}

.column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.column--three {
  grid-template-columns: repeat(3, 1fr);
}

.column--two {
  grid-template-columns: repeat(2, 1fr);
}

.column--single {
  grid-template-columns: repeat(1, 1fr);
}

.job-experience__portfolio span {
  display: block;
}

.education-experience {
  margin: 10px 0 0;
}

.education-experience__title {
  display: block;
  margin-top: 0;
}

.summary,
.skill-set,
.experience-set,
.education-set {
  padding: 15px calc(2vw + 15px) 0;
}

.skill-set__item::before,
.job-experience__tool::before,
.education-experience__title::before {
  content: "▶";
  display: inline-block;
  margin: 0 .2em 0 .4em;
  transform: scale(.4, .7);
}

.summary {
  padding-top: 30px;
}

.education-set {
  padding-bottom: 30px;
}

/* THEME */
.header {
  background-color: steelblue;
}

h3, h4, h5, h6,
.job-experience__tool,
a:hover,
a:focus {
  color: steelblue;
}

@media (min-width:813px) {
  body {
    margin: 1em auto;
  }

  .page-intro {
    height: initial;
  }

  .header {
    height: 50vh;
  }

  .job-experience__date {
    flex: 1 0 auto;
  }

  .summary,
  .job-experience__summary {
    text-align: left;
  }
}

@media print {
  body {
    margin: 0;
    box-shadow: none;
  }

  a {
    line-height: 32px;
  }

  .page-intro {
    display: block;
    height: initial;
  }

  .header {
    padding: 3em 1em 1em;
    position: relative;
    text-align: right;
  }

  .header__pic {
    border-radius: 0 30% 70% 20%;
    top: 0;
    left: 0;
    height: 93%;
    margin: 0;
    position: absolute;
    width: auto;
  }

  .contact-set {
    flex-direction: row;
  }

  .job-experience {
    page-break-inside: avoid;
  }

  .job-experience__date {
    flex: 1 0 auto;
  }

  .summary,
  .job-experience__summary {
    text-align: left;
  }

  .education-experience {
    margin: 3px 0 0;
  }

  .skill-set__item,
  .education-experience__title {
    display: inline-block;
  }

  .summary,
  .skill-set,
  .experience-set,
  .education-set {
    padding: 15px calc(2vw) 0;
  }
}
