* {
  font-family: Assistant, sans-serif;
  font-weight: 400;
}

html {
  background-color: #EEE;
}

body {
  background-color: #FFF;
  margin: 0;
  max-width: 800px;
  transition: 1s;
  box-shadow: 0 0.3em 0.7em -0.3em;
}

@media (min-width:800px) {
  body {
    margin: 1em auto;
  }
}

.header {
  background-color: #84425d;
  color: #EEE;
  overflow: hidden;
  padding: 20vh 0;
  position: relative;
  text-align: center;
}


.header__pic {
  border-radius: 50%;
  height: 7em;
  margin-bottom: 1em;
  width: 7em;
}

.header__name {
  margin: 0;
  font-family: Muli, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.header__role {
  margin: 0;
  font-family: Muli, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Muli, sans-serif;
  text-transform: uppercase;
}

h1, h3, h5 {
  font-weight: 900;
}

h2, h4, h6 {
  font-weight: 200;
}

h3, h4 {
  margin-top: 1em;
}

a {
  background: #DDD;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
  color: black;
  display: block;
  font-weight: 700;
  line-height: 50px;
  left: 0px;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  top: 0px;
  white-space: nowrap;
}

a:hover,
a:focus {
  background: #C8C8C8;
}

a:active {
  background: #CCC;
}

.summary,
.job-experience__summary {
  text-align: left;
}

.skill-set__item {
  list-style: none;
}

.contact-set {
  display: flex;
  flex-direction: column;
}

.contact-set__row {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex: 1 1;
}

.contact-set__row span {
  flex: 1 1;
}

.job-experience {
  position: relative;
}

.job-experience__meta {
  display: flex;
  flex-direction: row;
}

.job-experience__meta p {
  flex: 1 1;
}

.job-experience__meta p.job-experience__date {
  border-bottom: 0.5px solid black;
  flex: 2 0;
  font-style: italic;
  padding: 0 0.5em;
  position: relative;
  text-align: right;
  top: -1.2em;
}

.job-experience__tool {
  font-family: Muli, sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

.job-experience__portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  overflow: auto;
}

.column--three {
  grid-template-columns: repeat(3, 1fr);
}

.column--two {
  grid-template-columns: repeat(2, 1fr);
}

.column--single {
  grid-template-columns: repeat(1, 1fr);
}

.job-experience__portfolio span {
  display: block;
}

.education-experience__title {
  display: block;
  margin-top: 0;
}

.summary,
.skill-set,
.experience-set,
.education-set {
  padding: 20px calc(2vw + 20px);
}

.skill-set__item::before,
.education-experience__title::before,
.job-experience__tool::before {
  content: "▶";
  margin: 0 0.2em;
}

@media print {
  body {
    margin: 0;
  }

  .header {
    padding: 3em 1em 1em;
    position: relative;
    text-align: right;
  }

  .header__pic {
    border-radius: 0 30% 70% 20%;
    top: 0;
    left: 0;
    height: 93%;
    margin: 0;
    position: absolute;
    width: auto;
  }

  .contact-set {
    flex-direction: row;
  }

  .job-experience {
    page-break-inside: avoid;
  }
}
