:root {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

html {
  background-color: #EEE;
  --cv-font-color: hsl(from var(--cv-color) calc(h*1) calc(s*1) calc(l*0.8));

  @media (prefers-color-scheme: dark) {
    --cv-font-color: hsl(from var(--cv-color) calc(h*1) calc(s*1.6) calc(l*2));
  }
}

body {
  --cv-body-bg-color: #FFF;
  background: var(--cv-body-bg-color);
  box-shadow: 0 0.3em 0.7em -0.3em black;
  margin: 0;
  max-width: 772px;
  opacity: 0;
  transition: opacity .2s .1s ease-in-out;
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
  }

  body {
    --cv-body-bg-color: #1E1E1E;
  }
}

body.loaded {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, h3, h4, h5 {
  font-weight: 900;
}

h2, h6 {
  font-weight: 200;
}

h5 {
  font-size: 11px;
}

h3, h4, h5, h6 {
  color: var(--cv-font-color);
}

a {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 32px;
  left: 0px;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  top: 0px;
  white-space: nowrap;
  min-height: 48px;
  background: #EEE;
}

a:hover,
a:focus {
  background: #F8F8F8;
  color: var(--cv-font-color);
}

a:active {
  background: #FFF;
}

@media (prefers-color-scheme: dark) {
  a {
    background: #222;
    color: #FFF;
  }

  a:hover,
  a:focus {
    background: #181818;
  }

  a:active {
    background: #111;
  }
}

b,
strong {
  font-weight: bold;
}

p br {
  content: '';
  display: block;
  margin: .3em 0 0;
}

@media (min-height:641px) {
  body {
    -webkit-scroll-snap-type: proximity;
    -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
  }
}

@media (min-width:773px) {
  body {
    margin: 1em auto;
  }
}

@media (min-width:1644px) {
   body {
    margin: 1em 100px 1em auto;
   } 
}

@media print {
  body {
    margin: 0;
    box-shadow: none;
    max-width: initial;
  }

  a {
    line-height: 32px;
    box-shadow: none;
  }

  h1, h2, h3, h4, h5, h6,
  a:hover,
  a:focus {
    color: rgba(54, 57, 72, 1) !important;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
