:scope {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: 15px;
  padding: 0 calc(15px + 2vw);

  @media (min-width:773px) {
    flex-direction: row;
  }

  @media print {
    flex-direction: row;
  }

  & > a {
    flex: 1 1;
    text-align: center;
    background: color-mix(in srgb, hsl(from var(--cv-color) h s calc(l*0.8)), transparent 50%);
    color: white;
    border-radius: 32px;
    padding: 6px 8px;
    position: relative;

    @media print {
      color: black;
      background: white;
    }
  }

  & > a:hover,
  & > a:focus {
    background: color-mix(in srgb, hsl(from var(--cv-color) h s calc(l*0.8)), transparent 10%);
  }

  & > a:hover::before,
  & > a:focus::before {
    content: '';
    position: absolute;
    width: calc(10px + 100%);
    height: calc(10px + 3em);
    border-radius: 32px;
    z-index: -1;
    background: linear-gradient(45deg, #707, #700, #770, #070, #077, #007, #707, #700, #770);
    background-size: 900% 900%;
    animation: rainbow 2s linear infinite;
  }
}
